@import url("_reset.css");
@import url("variables.css");

body{
    box-sizing: border-box;
    font-family: var(--font-family-principal);
    background-color: var(--background--body);
    margin: 0;
    padding: 0;
}

.sobre__mi{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100vw;
    position: absolute;
    background-color: var(--background--secundario);
    padding: 4rem 8rem 4rem 8rem;
}

.sobre__mi__container{
    width: 60%;
}

.sobre__mi__titulo{
    
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
}

.sobre__mi__desarrollo{
    font-size: 20px;
    line-height: 28px;
    margin-top: 1.5rem;
}

