:root {
    --font-family-principal:'Open Sans', sans-serif;
    --font-family-secundaría:'Noto Sans', sans-serif;

    --background--body: #094357;
    --background--secundario: #0B7FA8;
    --background--box:#E4DBF2;


    --color-fuente: #323134;
}